@charset "UTF-8";

/*-----------------------------Подключение шрифтов локально START-----------------------------*/

@font-face {
    font-family: "FuturaPT Book";
  src: url("/assets/fonts/FuturaPT-Book.eot");
  src: local("☺"), url("/assets/fonts/FuturaPT-Book.woff") format("woff"), url("/assets/fonts/FuturaPT-Book.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaPT Demi";
  src: url("/assets/fonts/FuturaPT-Demi.eot");
  src: local("☺"), url("/assets/fonts/FuturaPT-Demi.woff") format("woff"), url("/assets/fonts/FuturaPT-Demi.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaPT Light";
  src: url("/assets/fonts/FuturaPT-Light.eot");
  src: local("☺"), url("/assets/fonts/FuturaPT-Light.woff") format("woff"), url("/assets/fonts/FuturaPT-Light.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaPT Medium";
  src: url("/assets/fonts/FuturaPT-Medium.eot");
  src: local("☺"), url("/assets/fonts/FuturaPT-Medium.woff") format("woff"), url("/assets/fonts/FuturaPT-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaPT Heavy";
  src: url("/assets/fonts/FuturaPT-Heavy.eot");
  src: local("☺"), url("/assets/fonts/FuturaPT-Heavy.woff") format("woff"), url("/assets/fonts/FuturaPT-Heavy.ttf") format("truetype");
}

/*-----------------------------Подключение шрифтов локально END-----------------------------*/

strong {
    font-family: "FuturaPT Medium";
}

.intro {
    margin: 0px auto;
}

.intro__box {
    margin: 0px auto;
    margin-bottom: 57px;
    max-width: 638px;
    height: 104px;
}

.intro__box p {
    font-family: "FuturaPT Light";
    font-size: 40px;
    text-align: center;
    line-height: 197.2307692308%;
}

.intro__box p:last-child {
    font-family: "FuturaPT Medium";
    font-size: 30px;
    line-height: 147.9230769231%;
}

.elipse-group-circle svg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 762px;
    height: 782px;
}

.description-block {
    margin: 0 0 150px 0;
}

.description-block--conteiner {
    max-width: 690px;
    font-family: "FuturaPT Medium";
}

.description-block--conteiner p:first-child {
    font-family: "FuturaPT Book";
    font-size: 30px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #16171B;
}

.description-block--conteiner h1 {
    font-size: 80px;
    word-spacing: 2px;
}

.description-block--conteiner span {
    display: inline-block;
    font-size: 80px;
    background: linear-gradient(95.98deg, #A169F7 1.6%, #00AAFF 16.24% 0.24%, #FF6163 31.71%, #97CF26 68.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.description-block--conteiner p:last-child {
    font-family: "FuturaPT Book";
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 61px 0;
}

.description-block__register-btn {
    width: 242px;
    height: 73px;
}

.description-block__register-btn button {
    width: 242px;
    height: 73px;
    background-color: #5956E9;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(89, 86, 233, 0.5);
    transition: opacity 0.3s ease-in-out;
    font-family: "FuturaPT Book";
    font-size: 24px;
    background-color: #5956E9;
    color: white;
}

.description-block__register-btn button:hover {
    opacity: 0.9;
}

.description-block__image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transform: translate(10px, 150px);
}

.description-block__image img {
    width: 1047px;
    height: 727px;
}

.description-block__line {
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(0px, -95px);
}

.test-group {
    width: 759px;
    height: 257px;
    margin: 0px auto;
    background: url(/assets/img/test-background.svg);
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 130px;
    box-shadow: 0 10px 10px rgba(39, 39, 46, 0.3);
    border-radius: 140px;
}

.test-group__text p {
    text-align: center;
}

.test-group__text p:first-child {
    font-family: "FuturaPT Medium";
    font-size: 57.1733px;
    color: #FAB8C4;
    line-height: 83px;
}

.test-group__text p:nth-child(2) {
    font-family: "FuturaPT Book";
    font-size: 35.73px;
    color: #FFFFFF;
    line-height: 51.71px;
}

.test-group__img {
    padding: 0 21px 0 48px;
}

.advantages {
    margin: 0px auto;
    position: relative;
    margin-bottom: 100px;
}

.advantages__line {
    position: absolute;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.advantages__title {
    font-family: "FuturaPT Demi";
    font-size: 72px;
    text-align: center;
    margin: 0 0 62px 0;
    color: #27272E;
}

.advantages__grid {
    max-width: 994px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(497px, 1fr));
    align-items: center;
    grid-row-gap: 190px;
}

.advantages__grid-titile {
    font-family: "FuturaPT Medium";
    font-size: 64px;
    line-height: 64px;
    color: #16171B;
    margin: 0 0 40px 0;
}

.advantages__grid-subtitile--one {
    font-family: "FuturaPT Light";
    font-size: 32px;
    color: #16171B;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

.advantages__grid-paragraph {
    font-family: "FuturaPT Book";
    font-size: 24px;
    line-height: 31px;
    color: #16171B;
}

.advantages__grid-image img {
    float: right;
}

.advantages__grid-image--left {
    float: left;
}

.advantages__grid-subtitile--two {
    font-family: "FuturaPT Book";
    font-size: 24px;
    line-height: 31px;
    color: #16171B;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    width: 147px;
    height: 38px;
    background: linear-gradient(96.03deg, #4CD7AD 18.67%, #17FF2F 109.14%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__grid--mob {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__roundgroup {
    position: absolute;
    transform: translate(-18%, 20%);
    z-index: -1;
}

.advantages__roundgroup-mob {
    position: absolute;
    z-index: -1;
    transform: translate(-22%, 5%);
}

.price-block {
    margin-bottom: 150px;
}

.price-block__container {
    max-width: 1622px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 170px;
    background: url("/assets/img/mask-price-group-suf.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.price-block__title {
    font-size: 72px;
    font-family: "FuturaPT Demi";
    text-align: center;
    padding: 67px 0 94px 0;
}

.price-block__items {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.price-block__item {
    width: 371.86px;
    height: 309px;
    background-color: #27272E;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 27.21px 0 0;
}

.price-block__item:nth-child(3) {
    background-color: #5956E9;
    margin: 0;
}

.price-block__item-price {
    font-family: "FuturaPT Medium";
    font-size: 64px;
    line-height: 128.125%;
    color: #FAB8C4;
}

.--white-price {
    color: white;
}

.price-block__item-period {
    font-family: "FuturaPT Book";
    font-size: 36px;
    line-height: 127.7777777778%;
    color: white;
}

.price-block__subtext {
    font-family: "FuturaPT Medium";
    font-size: 48px;
    text-align: center;
    color: #27272E;
    padding-bottom: 40px;
}

.price-block__telephone {
    font-family: "FuturaPT Medium";
    font-size: 54.4954px;
    text-align: center;
    color: #5956E9;
    padding-bottom: 80px;
}

.advantages__blue-line {
    position: absolute;
    transform: translate(38%, -80%);
    right: 0;
    bottom: 300px;
    z-index: -1;
}

@media (min-width: 487px) {
    .advantages__roundgroup-mob {
        display: none;
    }
}

@media (min-width: 1036px) {
    .advantages__grid--mob {
        display: none;
    }
}

@media (max-width: 1035px) {
    .advantages__line {
        display: none;
    }

    .advantages__grid {
        display: none;
    }

    .grid-text {
        margin: 0 0 60px 0;
        align-self: flex-start;
    }

    .advantages__grid-titile {
        font-size: 40px;
        line-height: 51px;
        margin: 0 0 20px 0;
    }

    .advantages__grid-subtitile--one {
        font-size: 24px;
        line-height: 31px;
    }

    .advantages__grid-paragraph {
        font-size: 16px;
        line-height: 21px;
    }

    .grid-image {
        margin: 0 0 20px 0;
    }

    .grid-image img {
        height: 158px;
    }

    .price-block__title {
        font-size: 36px;
        padding: 69px 0 28px 0;
    }

    .price-block__items {
        flex-direction: column;
        align-items: center;
    }

    .price-block__item {
        width: 219.94px;
        height: 182.76px;
        margin: 0 0 13.24px 0;
    }

    .price-block__item:nth-child(3) {
        background-color: #5956E9;
        margin: 0;
    }

    .price-block__item-price {
        font-size: 37.853px;
    }

    .price-block__item-period {
        font-size: 21.2923px;
    }

    .price-block__subtext {
        font-size: 24px;
    }

    .price-block__telephone {
        font-size: 36px;
    }
}

@media (max-width: 796px) {
    .intro__box p {
        font-size: 20px;
    }

    .intro__box p:last-child {
        font-size: 20px;
    }

    .description-block {
        margin: 0 0 57px 0;
    }

    .description-block--conteiner {
        margin: 0px auto;
    }

    .description-block--conteiner p,
  .description-block--conteiner h1 {
        text-align: center;
    }

    .description-block--conteiner p:first-child {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .description-block--conteiner h1 {
        font-size: 40px;
        margin: 0 0 15px 0;
    }

    .description-block--conteiner span {
        font-size: 40px;
        background: linear-gradient(95.98deg, #a169f7 20.6%, #0af 37.24% 19.24%, #ff6163 51.71%, #97cf26 61.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .description-block--conteiner p:last-child {
        font-size: 16px;
        margin: 0 0 40px 0;
    }

    .description-block__register-btn {
        margin: 0px auto;
    }

    .test-group {
        width: 320px;
        height: 101.62px;
        background: url(/assets/img/test-background-mobile.svg);
        margin-bottom: 55px;
    }

    .test-group__text p:first-child {
        font-size: 24.8242px;
        line-height: 35.92px;
    }

    .test-group__text p:nth-child(2) {
        font-size: 15.52px;
        line-height: 22.45px;
    }

    .test-group__img {
        padding: 0 9px 0 22px;
    }

    .test-group__img img {
        width: 83.39px;
        height: 83.39px;
    }
}

@media (max-width: 792px) {
    .advantages {
        margin-bottom: 0px;
    }

    .advantages__title {
        font-size: 36px;
    }

    .price-block {
        margin: 0 0 100px 0;
    }

    .price-block__container {
        border-radius: 30px;
        background: none;
        background-color: #e6ecf0;
    }
}

@media (max-width: 486px) {
    .advantages__roundgroup {
        display: none;
    }
}

@media (max-width: 420px) {
    .elipse-group-circle svg {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 360px) {
    .price-block__container {
        background: url("/assets/img/mask-price-group-suf-mob.png");
        border-radius: 30px;
        background-repeat: no-repeat;
    }
}